*X*************                  ***********8*************
*      W   *  *    **********    *6     *       *8       *
* *** **F**** *    * 2      *    *  WW  *       *FFFFFFFF*
* * WW*       *    *      1 *    *     7*FFFFFFF*       7*
* *****F*****F*    **********    ***********Y*************
*  W *  F** * *
*F** *** 3    *    *********************
* 3******** 1 *    *2 F 4*4 FF  5*5    6
***************    *********************